__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
.dist/
.build/
.venv/
.env
.env.*
.local/
*.sqlite
*.db
*.log
.telethon.session
telethon.session
.pytest_cache/
.ruff_cache/
.mypy_cache/
.DS_Store
